<!DOCTYPE html>
<html>
    <head>
        <title>Bienvenue sur ma page!</title>
    </head>
    <body>
        <h1>Hello World!</h1>
        <p>This is some text i wrote to test this page view and how a quite long text looks. Loret ipsum, so bored to find the entire text of this.......................bla...........blananlalbablablbal</p>
    </body>
</html>